<h1>Create Split</h1>

<form action="/admin/create" method="post">
  <label for="name">Name</label>
  <div class="h-stack">
    <input type="text" id="name" name="name" required />
    <button class="button button-outline">Add</button>
  </div>
</form>
