<% if (split.activeTargets.length > 0) { %><% let percentages = split.getSplitPercentages() %>
<table>
  <thead>
    <tr>
      <th>Destination</th>
      <th>Percent</th>
      <% if (showFee) { %>
      <th>Fee</th>
      <% } %>
    </tr>
  </thead>
  <tbody>
    <% split.activeTargets.forEach((target) => { %>
    <tr>
      <td><%- include("./target-name", { target }) %></td>
      <td><%- (percentages[target.id]*100).toFixed(2) %>%</td>
      <% if (showFee) { %>
      <td><%- msatsToSats(target.getEstimatedFee()) %> sats</td>
      <% } %>
    </tr>
    <% }) %>
  </tbody>
</table>
<% } %>
