<a href="/admin/split/<%- split.id %>/target/<%- target.id %>"><%- target.displayName %></a>
<% if (target.type === 'nostr') { %>
<a href="https://nostrapp.link/?#<%- target.link.replace('nostr:', '') %>" target="_blank">
  <img src="/nostr-icon.png" style="width: 2rem; vertical-align: middle" />
</a>
<% } %>
