doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="output.css", rel="stylesheet", type="text/css")
    title LN Splits
  body
    header.p-6.max-w-sm.mx-auto.bg-white.rounded-xl.shadow-lg.flex.items-center.space-x-4
