<main class="container">
  <a class="button" href="/create">Create Split</a>
  <button class="button button-outline">Outlined Button</button>
  <input class="button button-clear" type="submit" value="Clear Button" />

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Split</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% for( let split of splits ) { %>
      <tr>
        <td><%= split.id %></td>
        <td>
          <ul style="margin-bottom: 0">
            <% for( let [address, percent] of split.payouts ) { %>
            <li style="margin-bottom: 0"><%= address %> <%= percent %>%</li>
            <% } %>
          </ul>
        </td>
        <td>
          <a class="button button-outline" href="/split/<%= split.id %>"
            >View</a
          >
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</main>
