<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/icon.svg" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/normalize.css@8.0.1/normalize.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/milligram@1/dist/milligram.min.css"
    />
    <link rel="stylesheet" href="/styles.css" />
    <title>LN Split</title>
  </head>
  <body>
    <main class="container">
      <header class="h-stack" style="margin-bottom: 1rem">
        <% if (path.includes('/admin')) { %>
        <a href="/admin" class="h-stack">
          <img src="/icon.svg" height="48" />
          <p style="margin: 0; font-size: 3rem">LN Split</p>
        </a>
        <% } %>
        <span style="flex: 1"></span>
      </header>
      <%- body %>
    </main>
  </body>
</html>
