<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/normalize.css@8.0.1/normalize.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/milligram@1/dist/milligram.min.css"
    />
    <link rel="stylesheet" href="/styles.css" />
    <title>LN Split</title>
  </head>
  <body>
    <main class="container">
      <header class="h-stack">
        <a href="/admin">
          <h1>LN Split</h1>
        </a>
        <span style="flex: 1"></span>
      </header>
      <%- body %>
    </main>
  </body>
</html>
