html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}
body {
  overflow-y: auto;
}

h1 {
  font-size: 4rem;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  border: 0.1rem solid #606c76;
  border-radius: 0.4rem;
  overflow: hidden;
  padding: 0.5rem 1.5rem;
}
.card-header {
  font-size: 1.5em;
  font-weight: bold;
}
.card-body {
  padding: 0.5rem 0;
}
.card-footer {
  padding: 0.5rem 0;
}
.card-footer .button {
  margin-bottom: 0;
}

.h-stack {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.v-stack {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: flex-start;
}
.flex-wrap {
  flex-wrap: wrap;
}
.mb-0 {
  margin-bottom: 0;
}
.container {
  padding-bottom: 10rem;
}

.button.button-red {
  border-color: #d54e4e;
}
.button:not(.button-outline).button-red {
  background-color: #d54e4e;
}
.button-outline.button-red {
  color: #d54e4e;
}
