<h1><%= splitAddress %></h1>

<form action="/admin/split/<%= split.id %>/add" method="post">
  <label for="address">Add Address</label>
  <div class="h-stack">
    <input
      type="email"
      placeholder="user@domain.com"
      id="address"
      name="address"
    />
    <input
      type="number"
      name="weight"
      min="1"
      size="3"
      style="width: auto"
      step="1"
      placeholder="weight"
    />
    <button class="button button-outline">Add</button>
  </div>
</form>
