<h3 style="margin-bottom: 1rem">
  <a href="/admin">Splits</a>
  <span> / </span>
  <a href="<%- splitHref %>"><%- split.address %></a>
  <% if (page) { %>
  <span> / </span>
  <span><%- page %></span>
  <% } %>
</h3>
